#settings {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  border-radius: 22px;
  flex: 1;
  width: 100%;
  height: 100%;
  -webkit-app-region: no-drag;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heard {
    height: 50px;
    width: 100%;
  }
  overflow-x: hidden;

  .body {
    // overflow-y: auto;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;

    .desk {
      width: 100%;
      border-bottom: 1px solid #e6e6e6;

      .title {
        font-weight: bold;
        color: #141414;
      }

      .user {
        margin-top: 15px;
      }

      .item {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        .l {
          display: flex;
          flex: 1;
          // background-color: blue;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 0 50px;
          // padding-right: ;

          .text {
            color: #141414;
            font-size: 15px;
            padding: 0%;
            margin: 0%;
          }

          .icon {
            width: 18px;
            height: 18px;
            border: 1px solid #ababab;
            // margin-right: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-app-region: no-drag;

            span {
              font-family: 'iconfont';
              color: #ababab;
              font-size: 18px;
            }
          }

          .ant-switch-checked {
            background-color: #4cd964;
          }

          .rightIcon {
            font-family: 'iconfont';
            color: #ababab;
            font-size: 18px;
          }

          .unit {
            display: flex;
            flex-direction: row;
            align-items: center;

            .one {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-right: 15px;

              .check {
                width: 12px;
                height: 12px;
                box-shadow: #f9cfdf 0 0 5px 0;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 6px;

                .ciral {
                  width: 8px;
                  height: 8px;
                  border-radius: 10px;
                  background-color: #e1206d;
                }
              }

              .unitsText {
                font-size: 14px;
                color: #141414;
              }
            }
          }

          .switch {
            z-index: 5;

            button {
              z-index: 2;
            }

            .ant-switch-checked {
              background-color: #4cd964;
            }
          }

          .hardSetting {
            font-weight: bold;
            color: #141414;
            font-size: 26px;
            // margin-top: 15px;
          }

          .backlight {

            // width: 300px;
            .solid {
              display: flex;
              align-items: center;
              flex-direction: row;
              color: #141414;
              font-size: 12px;
              margin-top: 40px;
              text-align: center;

              .slider {
                // width: 185px;
                background-color: pink;
                margin: 0 20px;

                .ant-slider {
                  height: 1px;

                  .ant-slider-rail {
                    height: 1px;
                    background-color: #d8d8d8;
                  }

                  .ant-slider-track {
                    background-color: #d8d8d8;
                    height: 1px;
                  }

                  .ant-slider-handle.ant-tooltip-open {
                    background-color: #e1206d;
                    border: 0;
                  }
                }
              }
            }
          }

          .selebox {
            .selectionbox {
              width: 100%;

              .box {
                border-radius: 100px;
                padding-left: 5%;
                padding-right: 5%;
              }
            }
          }
        }
      }
    }

    .btnSave {
      width: 100%;
      background-color: #e7e7e7;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 0;
    }
  }

  .myModal {
    .isSave {
      width: 50%;
      background-color: #fff;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      p {
        margin: 0;
        padding: 0;
        color: #000;
      }

      .btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;

        p {
          color: #fff;
        }
      }

      .title {
        width: 70%;
        text-align: center;
      }

      .verify {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 75%;

        input {
          border-width: 0;
          border-bottom: 1px solid #d8d8d8;
          // width: 40px;
          width: 13%;
          text-align: center;
          // background-color: hotpink;
        }
      }
    }
  }
}
