#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home,#signIn {
  width: 400px;
  height: 832px;
  flex: none;
  border: 1px #e7e7e7 solid;
}

#mainbody,
#unassigned,
#connectworkplace,
#settings,
#addDevice,
#veterinarians,
#advancedsettings,
#allPets,
#doctorAddPet,
#editParent,
#editPetInfo,
#forgotPassword,
#help,
#inviteTeam,
#joinOrganizationByOption,
#newOraganization,
#PetAndParents,
#resetPassword,
#scanCodeLogin,
#verifyEmail,
#vetPrifile,
#inviteTeam,
#unassigned {
  width: 900px;
  height: 900px;
  border: 1px #e7e7e7 solid;
  flex: none;
}

#mainbody .mainbody-body {
  border: 1px #e7e7e7 solid;
  border-radius: 0;
}
