.selectPetBreedModal {
  .ant-modal-content {
    border-radius: 20px;

    .ant-modal-header {
      text-align: center;
      padding: 42px 24px 24px 24px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      .ant-modal-title {
        font-size: 24px;
      }
    }

    .ant-modal-body {
      padding: 0px;
    }
  }

  .modalContentBox {
    -webkit-app-region: no-drag;

    .searchBox {
      align-items: center;
      background-color: rgba(212, 208, 208, 0.4);
      border-radius: 5px;
      margin: 16px 16px 24px 16px;
    }

    .list {
      margin-top: 16px;
      height: 450px;
    }

    .foot {
      height: 130px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #e7e7e7;
      justify-content: center;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      .btnBox {
        width: 60%;
      }
    }
  }
}
