.contentBox {
    .scanImageBox {
        width: 300px;
        height: 200px;
    }

    .selectLengthUnit {
        margin-top: 30px;
    }

    .inputGroupItem {
        padding: 10px;
        margin-top: 30px;
        .inputItemBox {
            display: flex;
            align-items: flex-end;
            justify-content:center;

            .inputItem{
                width: 100px;
            }

            .inputTitle {
                text-align: center;
                color: #a0a0a0;
                line-height: 20px;
            }
        }
    }

    .dotBox {
        width: 100%;
        position: relative;
        .dotList {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            li {
                position: relative;
                display: inline-block;
                margin: 0 2px;
                padding: 0;
                text-align: center;
                vertical-align: top;
                margin-right: 10px;
            }

            .dotItem {
                display: block;
                width: 10px;
                height: 10px;
                padding: 0;
                font-size: 0;
                background: #4e4e4e;
                border: 0;
                border-radius: 20px;
                outline: none;
                // opacity: .3;
                transition: all .5s;
            }
        }
    }

    .nextBtn {
        width: 330px;
        margin-top: 20px;
        display: flex;
        justify-content: center;

        .btn {
            width: 100%;
        }
    }
}