.scanContentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .historyWeightBox{
    width: 100%;
    display: flex;
    align-content: flex-start;
    p{
      margin-left: 16px;
    }
  }

  .lookImageBox {
    display: flex;
    align-items: flex-end;
    width: 100%;
    position: relative;

    .localityBox {
      width: 95%;
      height: 160px;
      background-color: #d8d8d8;
      border-bottom-right-radius: 160px;
      border-top-right-radius: 160px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .localityImage {
        width: 160px;
        height: 160px;
      }

      .localityTitleBox {
        width: 100%;
        display: flex;
        align-content: center;

        .localityTitle {
          font-size: 32px;
          font-weight: 700;
          margin-left: 20%;
        }
      }
    }
  }

  .lookInputBox {
    width: 144px;
  }

  .scanImageBox {
    display: flex;
    align-items: flex-end;
  }

  .checkImage {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
  }

  .selectLengthUnit {
    margin-top: 10px;
  }

  .slideshowBox {
    position: relative;
    display: flex;
    align-items: center;

    .leftImageBox {
      margin-right: 24px;
      cursor: pointer;
    }

    .scollInputGroup {
      .inputGroupItem {
        .inputItemBox {
          display: flex;
          align-items: flex-end;
          justify-content: center;

          .inputItem {
            width: 100px;
          }

          .inputTitle {
            text-align: center;
            color: #a0a0a0;
            line-height: 20px;
          }
        }
      }
    }

    .rightImageBox {
      margin-left: 24px;
      cursor: pointer;
    }
  }


  .dotBox {
    width: 100%;
    position: relative;

    .dotList {
      display: flex;
      justify-content: center;
      padding: 0;

      li {
        position: relative;
        display: inline-block;
        margin: 0 2px;
        padding: 0;
        text-align: center;
        vertical-align: top;
        margin-right: 10px;
      }

      .dotItem {
        display: block;
        width: 10px;
        height: 10px;
        padding: 0;
        font-size: 0;
        background: #0a0a0a;
        border: 0;
        border-radius: 20px;
        outline: none;
        // opacity: .3;
        transition: all .5s;
      }
    }
  }

  .historyBox {
    width: 100%;

    .historyTimeBox {
      height: 32px;
      background-color: #ececec;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 16px;
        color: #a0a0a0;
      }
    }

    .historyDataBox {
      display: flex;
      align-items: center;
      justify-content: center;

      .historyData {
        margin-top: 16px;

        p {
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .nextBtnBox {
    display: flex;
    justify-content: center;

    .nextBtn {
      width: 100%;
      background: #e1206d;
      border-color: #e1206d;
    }
  }
}

.weightTipModal {
  .ant-modal-content {
    border-radius: 15px;

    .ant-modal-body {
      padding: 16px;

      .modalContentBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;

        .title {
          font-size: 20px;
          font-weight: 600;
        }

        .tipTitleBox {
          margin-top: 8px;

          .tipTitle {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;

            p {
              margin-left: 6px;
              text-decoration: underline;
              color: #e1206d;
              cursor: pointer;
            }
          }
        }

        .modalBtnBox {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 16px;

          .modalBtn {
            width: 128px;
            background: #e1206d;
            border-color: #e1206d;
          }

          .modalBtn:nth-child(1) {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

.missMeasureModal {
  .ant-modal-content {
    border-radius: 15px;

    .ant-modal-body {
      padding: 16px;

      .modalContentBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;

        .title {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 16px;
          text-align: center;
        }

        .title:nth-child(2) {
          font-size: 16px;
          font-weight: 500;
        }

        .inputBox {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          flex-wrap: wrap;

          .inputItem {
            width: 100px;
            margin: 8px;
          }

          .inputTitle {
            text-align: center;
            color: #a0a0a0;
            line-height: 20px;
          }
        }

        .modalBtnBox {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 32px;

          .modalBtn {
            width: 240px;
            background: #e1206d;
            border-color: #e1206d;
          }
        }
      }

    }
  }
}
