.contentBox {
    .scanImageBox {
        width: 300px;
        height: 200px;
    }

    .selectLengthUnit {
        margin-top: 30px;
    }

    .slideshowBox {
        position: relative;
        width: 500px;
        height: 200px;
        overflow: hidden;

        .scollInputGroup {
            position: absolute;
            top: 0;
            left: 0;
            .inputGroupItem {
                position: absolute;
                top:56px;
                left: 38px;
                .inputItemBox {
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;

                    .inputItem {
                        width: 100px;
                    }

                    .inputTitle {
                        text-align: center;
                        color: #a0a0a0;
                        line-height: 20px;
                    }
                }
            }
            .inputGroupItem:last-child{
                left: 146px;
            }
        }
    }


    .dotBox {
        width: 100%;
        position: relative;

        .dotList {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            padding: 0;

            li {
                position: relative;
                display: inline-block;
                margin: 0 2px;
                padding: 0;
                text-align: center;
                vertical-align: top;
                margin-right: 10px;
            }

            .dotItem {
                display: block;
                width: 10px;
                height: 10px;
                padding: 0;
                font-size: 0;
                background: #0a0a0a;
                border: 0;
                border-radius: 20px;
                outline: none;
                // opacity: .3;
                transition: all .5s;
            }
        }
    }

    .nextBtnBox {
        width: 330px;
        margin-top: 20px;
        display: flex;
        justify-content: center;

        .nextBtn {
            width: 100%;
            background: #e1206d;
            border-color: #e1206d;
        }
    }
}