.contentBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .startBox {
        display: grid;
        justify-items: center;
        .startTitle {
            color: '#3b3a3a';
            font-size: 31px;
            line-height: 42px;
            text-align: center;
        }
        .bottomTip {
            width: 100%;
            border-radius: 13.5px;
            border: 2px solid #8e8e8e;
            margin-top: 20px;
            .tipTitle {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #8e8e8e;
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}