.contentBox{
    display: flex;
    align-items: center;
    justify-content: center;
    .ProgressTitle{
        color: #3b3a3a;
        font-size: 44px;
        line-height: 40px;
        text-align: center;
    }
}