#biggiePage {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .measurementBox3 {
        flex: 1;
        height: 100%;
        width: 100%;
        background-color: #FFFFFF;
        align-items: center;
        flex-direction: column;

        .biggbody {
            width: 100%;
            height: 100%;
            display: flex;
            flex: 1;
            position: relative;

            .listTitleBox1 {
                width: 100%;
                height: 30px;
                background-color: #19ade4;
                margin-top: 20px;

                .listTitle {
                    font-size: 13px;
                    // line-height: 15px;
                    color: #FFFFFF;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

        }


        .table1 {
            display: flex;
            flex: 1;
            width: 100%;
            height: 100%;
            // background-color: hotpink;
        }
    }

    .biggie {
        // width: 100%;
        // background-color: pink;
    }

}


.chackPatientBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .chackPatientTitle {
        color: #3b3a3a;
        font-size: 31px;
        line-height: 42px;
    }
}